# Google Play store data analysis

In [ ]:
## Import liabiries
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
play_store = pd.read_csv("D:\python\PANDAS\playstore\googleplaystore.csv\googleplaystore.csv")

# Copy real data

In [79]:
df1= play_store.copy()
df2= play_store.copy()

# Show Head and Tail

In [4]:
df1.head(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up

In [6]:
df1.tail(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

# Shape of data set

In [10]:

rows=df1.shape[0]
print('No.of rows-', rows)

No.of rows- 10841

In [12]:
cols=df1.shape[1]
print('No.of columns-', cols)

No.of columns- 13

# Info

In [14]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

# Overall statistics

In [16]:
df1.describe(include='all')

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
count,10841,10841,9367.000000,10841,10841,10841,10840,10841,10840,10841,10841,10833,10838
unique,9660,34,NaN,6002,462,22,3,93,6,120,1378,2832,33
top,ROBLOX,FAMILY,NaN,0,Varies with device,"1,000,000+",Free,0,Everyone,Tools,"August 3, 2018",Varies with device,4.1 and up
freq,9,1972,NaN,596,1695,1579,10039,10040,8714,842,326,1459,2451
mean,NaN,NaN,4.193338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,0.537431,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,4.300000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,4.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,19.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Columns

In [17]:
df1.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

# Total number of App contain astrology

In [21]:
df1['App'].unique()

array(['Photo Editor & Candy Camera & Grid & ScrapBook',
       'Coloring book moana',
       'U Launcher Lite â€“ FREE Live Cool Themes, Hide Apps', ...,
       'Parkinson Exercices FR', 'The SCP Foundation DB fr nn5n',
       'iHoroscope - 2018 Daily Horoscope & Astrology'], dtype=object)

In [26]:
x = sum(df1['App'].str.contains('Astrology',case=False))
print('Number of app contain astrology =', x)

Number of app contain astrology = 3

# Find average app rating

In [31]:
y = df1['Rating'].mean()
print('Average rating of Apps = ', y)

Average rating of Apps =  4.193338315362443

# Find out number of unique categories

In [33]:
uni = df1['Category'].nunique()
print('Number of unique categories = ', uni)

Number of unique categories =  34

# Category getting highest average rating

In [42]:
rat = df1.groupby('Category')['Rating'].mean().sort_values(ascending=False)
print('Highest average rating based category = ', rat)

Highest average rating based category =  Category
1.9                    19.000000
EVENTS                  4.435556
EDUCATION               4.389032
ART_AND_DESIGN          4.358065
BOOKS_AND_REFERENCE     4.346067
PERSONALIZATION         4.335987
PARENTING               4.300000
GAME                    4.286326
BEAUTY                  4.278571
HEALTH_AND_FITNESS      4.277104
SHOPPING                4.259664
SOCIAL                  4.255598
WEATHER                 4.244000
SPORTS                  4.223511
PRODUCTIVITY            4.211396
HOUSE_AND_HOME          4.197368
FAMILY                  4.192272
PHOTOGRAPHY             4.192114
AUTO_AND_VEHICLES       4.190411
MEDICAL                 4.189143
LIBRARIES_AND_DEMO      4.178462
FOOD_AND_DRINK          4.166972
COMMUNICATION           4.158537
COMICS                  4.155172
NEWS_AND_MAGAZINES      4.132189
FINANCE                 4.131889
ENTERTAINMENT           4.126174
BUSINESS                4.121452
TRAVEL_AND_LOCAL        4.109292
LIFESTYLE               4.094904
VIDEO_PLAYERS           4.063750
MAPS_AND_NAVIGATION     4.051613
TOOLS                   4.047411
DATING                  3.970769
Name: Rating, dtype: float64

# Total number of Apps have 5 star rating

In [46]:
df1[df1['Rating']==5.0]['App']

329                    Hojiboy Tojiboyev Life Hacks
612                   American Girls Mobile Numbers
615                                    Awake Dating
633                           Spine- The dating app
636      Girls Live Talk - Free Text and Video Chat
                            ...
10721                             Mad Dash Fo' Cash
10742                         GKPB FP Online Church
10776                              Monster Ride Pro
10820                               Fr. Daoud Lamei
10837              Fr. Mike Schmitz Audio Teachings
Name: App, Length: 274, dtype: object

In [52]:
star = len(df1[df1['Rating']==5.0]['App'])
print('Number of apps have 5 star', star)

Number of apps have 5 star 274

In [55]:
df1['Reviews'].dtype

dtype('O')

In [63]:
## Need to clean data 
df1[df1['Reviews']=='3.0M']

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

# Repalce '3.0M'

In [80]:
df2['Reviews']=df2['Reviews'].replace('3.0M',3.0)

In [81]:
df2['Reviews'] = df2['Reviews'].astype('float')

In [82]:
df2['Reviews'].dtype

dtype('float64')

# Average reviews

In [84]:
round(df2['Reviews'].mean())

444112

# Find Total number free and paid apps

In [85]:
df2.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [97]:
free = sum(df2['Type']=='Free')
print('number of free apps =', free)

number of free apps = 10039

In [99]:
paid=sum(df2['Type']=='Paid')
print('number of free apps =', paid)

number of free apps = 800

In [102]:
df2['Type'].value_counts()

Free    10039
Paid      800
0           1
Name: Type, dtype: int64

# App has maximum reviews

In [123]:
df2[df2['Reviews'].max()==df2['Reviews']]['App']

2544    Facebook
Name: App, dtype: object

# Display Top 5 Apps having highest review

In [137]:
top = df2['Reviews'].sort_values(ascending=False).head(5).index
df2.iloc[top]['App']

2544              Facebook
3943              Facebook
381     WhatsApp Messenger
336     WhatsApp Messenger
3904    WhatsApp Messenger
Name: App, dtype: object

# Find averge rating of free and paid Apps

In [165]:
df2.groupby('Type')['Rating'].mean()

Type
0       19.000000
Free     4.186203
Paid     4.266615
Name: Rating, dtype: float64

# Display top 5 Apps having maximum installation

In [169]:
df2.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [179]:
df2['Installs']

0            10,000+
1           500,000+
2         5,000,000+
3        50,000,000+
4           100,000+
            ...
10836         5,000+
10837           100+
10838         1,000+
10839         1,000+
10840    10,000,000+
Name: Installs, Length: 10841, dtype: object

In [180]:
df2['Installs'].dtype

dtype('O')

# To change data type to Int first need to remove "," and "+"

In [181]:
df2['Installs_raw']=df2['Installs'].str.replace(',','')

In [182]:
df2.head(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Installs_raw
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159.0,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,10000+
1,Coloring book moana,ART_AND_DESIGN,3.9,967.0,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,500000+

In [183]:
df2['Installs_raw'] = df2['Installs_raw'].str.replace('+','')

C:\Users\Acer\AppData\Local\Temp\ipykernel_14280\2036693619.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df2['Installs_raw'] = df2['Installs_raw'].str.replace('+','')

In [186]:
df2.head(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Installs_raw
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159.0,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,10000
1,Coloring book moana,ART_AND_DESIGN,3.9,967.0,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,500000

# Change data type to int

In [187]:
df2['Installs_raw'].astype('int')

ValueError: invalid literal for int() with base 10: 'Free'

In [191]:
df2[df2['Installs_raw']=='Free']

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Installs_raw
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN,Free

# Again replace 'Free'

In [192]:
df2['Installs_raw']=df2['Installs_raw'].str.replace('Free','0')

In [206]:
## Change datatype
df2['Installs_raw']=df2['Installs_raw'].astype('int')

In [207]:
df2['Installs_raw'].dtype

dtype('int32')

# top 5 Apps having maximum installation

In [210]:
highest = df2['Installs_raw'].sort_values(ascending=False).head().index

In [213]:
df2.iloc[highest]['App']

3896                              Subway Surfers
3943                                    Facebook
335     Messenger â€“ Text and Video Chat for Free
3523                                Google Drive
3565                                Google Drive
Name: App, dtype: object

In [215]:
df2.head(3)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Installs_raw
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159.0,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,10000
1,Coloring book moana,ART_AND_DESIGN,3.9,967.0,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,500000
2,"U Launcher Lite â€“ FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510.0,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up,5000000

# top 5 Apps having maximum "Rating"Â¶

In [217]:
df2['Rating'].dtype

dtype('float64')

In [221]:
max_rat = df2['Rating'].sort_values(ascending=False).head(3).index
df2.iloc[max_rat]['Genres']

10472    February 11, 2018
9511         Entertainment
10166               Sports
Name: Genres, dtype: object

# Null value identification

In [223]:
df2.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
Installs_raw         0
dtype: int64

In [226]:
df2.isnull().sum()*100/len(df2)

App                0.000000
Category           0.000000
Rating            13.596532
Reviews            0.000000
Size               0.000000
Installs           0.000000
Type               0.009224
Price              0.000000
Content Rating     0.009224
Genres             0.000000
Last Updated       0.000000
Current Ver        0.073794
Android Ver        0.027673
Installs_raw       0.000000
dtype: float64

In [227]:
df2['Rating'].median()

4.3

# Fill null values

In [229]:
df2['Rating'].fillna(df2['Rating'].median(),inplace =True)

In [272]:
df2['Type'].fillna('Free', inplace =True)

In [273]:
df2['Type']= df2['Type'].replace('0','Free')

In [274]:
df2['Type'].unique()

array(['Free', 'Paid'], dtype=object)

In [277]:

df2['Content Rating'].unique()

array(['Everyone', 'Teen', 'Everyone 10+', 'Mature 17+',
       'Adults only 18+', 'Unrated', nan], dtype=object)

In [287]:
df2['Current Ver']=df2['Current Ver'].replace('Varies with device', 'nan')

In [297]:
df2['Current Ver']=df2['Current Ver'].replace( 'nan', '1.0')

In [314]:
df2['Current Ver']=df2['Current Ver'].replace( 'NaN','1.0')